<section class="section-footer">

<footer>
  <div class="Row">
    <div class="col-1-of-2 ">

<form action="index.php">
<input type="email" name="Email" placeholder="Enter Your Email" class="input">
<button type="submit"  value="submit" class="btn-subscribe"><i class="fas fa-bell"></i> Subscribe Us</button>
</form>      </div>
    <div class="col-1-of-2 ">
      <div class="footer">
        <div class="footer__share">
          <a href="#" class="footer__link-icon"><i class="fab fa-twitter"></i></a>
          <a href="" class="footer__link-icon"><i class="fab fa-instagram"></i></a>
          <a href="" class="footer__link-icon"><i class="fab fa-facebook-square"></i></a>
          <a href="" class="footer__link-icon"><i class="fab fa-youtube"></i></a>
          <!-- <a href="" class="footer__link-icon"><i class="fas fa-angle-double-up"></i></a> -->
        </div>
      </div>

    </div>

  </div>
  <div class="footer__nav">
    <ul class="footer__list">
      <li class="footer__item"><a href="" class="footer__link">Blog</a></li>
      <li class="footer__item"><a href="" class="footer__link">Work with us</a></li>
      <li class="footer__item"><a href="" class="footer__link">Contact us</a></li>
      <li class="footer__item"><a href="" class="footer__link">About us</a></li>
      <li class="footer__item"><a href="" class="footer__link">Join us</a></li>
    </ul>
  </div>
</footer>
</section>
</body>

</html>
