<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item"><a href="/latestJob" class="nav__link">latest jobs</a></li>
    <li class="nav__item"><a href="/admission" class="nav__link">admission</a></a></li>
    <li class="nav__item"><a href="/gov_schemes" class="nav__link">govt. schemes</a></li>
    <li class="nav__item"><a href="/results" class="nav__link">results</a></li>
    <li class="nav__item"><a href="/answerKey" class="nav__link">answer key</a></li>
    <li class="nav__item"><a href="/admitcards" class="nav__link">admit card</a></li>
  </ul>
</nav>
<div class="navigation">
          <input type="checkbox" class="navigation__checkbox" id="xxx">

          <label for="xxx" class="navigation__button">
              <span class="navigation__icon">&nbsp;</span>
          </label>

          <div class="navigation__background">&nbsp;</div>

          <nav class="navigation__nav">
              <ul class="navigation__list">
                <div class="navigation__search-m">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                </div>
                  <li class="navigation__item"><a href="#job" class="navigation__link">Latest jobs</a></li>
                  <li class="navigation__item"><a href="#result" class="navigation__link">Result</a></li>
                  <li class="navigation__item"><a href="#govtschemes" class="navigation__link">Govt. Schemes</a></li>
                  <li class="navigation__item"><a href="#syllabus" class="navigation__link">syllabus</a></li>
                  <li class="navigation__item"><a href="#admission" class="navigation__link">Admission</a></li>
                  </ul>
          </nav>
      </div>
