.margin-top-lg{
  margin-top: 6rem;
}

.bg-result{
  background-color:#28b5b5 !important;
}
.bg-job{
  background-color:#be0000 !important;
}
.bg-admission{
  background-color:#16697a !important;
}
.bg-admit_card{
  background-color:#ff79cd !important;
}
.bg-answer_key{
  background-color:#ff577f !important;
}
.bg-govt_schemes{
  background-color:#ff6701 !important;
}
