<%- include("partials/header")-%>
<%- include("partials/admin/nav")-%>
<div class="margin-top-lg">

</div>
<div class="row">
    <div class="vertical-menu">
  <a href="#" class="active">Home</a>
  <a href="#">jobs</a>
  <a href="#">results</a>
  <a href="#">schemes</a>
  <a href="#">schemes</a>
  </div>

</div>



<%- include("partials/footer")-%>
