<%- include("partials/header")-%>
<%- include("partials/nav") -%>
<br>
<form class="" action="index.html" method="post">
  <input id="x" type="hidden" name="content">
  <trix-editor input="x" class="trix-content">
  </trix-editor>
</form>


<%- include("partials/footer")-%>
