<%- include("partials/header")-%>
<%- include("partials/admin/nav")-%>
<div class="margin-top-lg">
</div>
<div class="row">
  <div class="col-lg-12">
    <form class="" action="/login" method="post">
      <label for="Body">Admin:</label>
      <br>
      <input class="form-control form-control-lg" name="uname"></input>  <br />
      <br />
      <label for="Body">Password:</label>
      <br>
      <input class="form-control form-control-lg" name="pwd" ></input>  <br />
      <br />

      <button type="submit" class="btn btn-primary btn-lg btn-block">FINISH</button>

  </div>
</div>



<%- include("partials/footer")-%>
